In [8]:
from sklearn.ensemble import GradientBoostingRegressor as GBR

import pandas as pd
import numpy as np

In [9]:
df=pd.read_csv("train.csv",encoding="shift-jis")
df

,index,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,native-country,Y
0,322,21,Private,132652,Some-college,10,Divorced,Adm-clerical,Own-child,White,Female,United-States,0
1,11968,29,Private,132652,HS-grad,9,Divorced,Adm-clerical,Not-in-family,White,Female,United-States,0
2,10868,19,Private,132652,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,United-States,0
3,3394,17,Private,132652,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,United-States,0
4,15993,47,Private,132652,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,United-States,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11895,9225,23,Private,132652,HS-grad,9,Married-civ-spouse,Sales,Wife,White,Female,United-States,0
11896,13123,31,Private,132652,HS-grad,9,Divorced,Other-service,Unmarried,Black,Female,United-States,0
11897,9845,21,Private,132652,HS-grad,9,Never-married,Other-service,Own-child,White,Male,United-States,0
11898,10799,29,Private,132652,Bachelors,13,Never-married,Machine-op-inspct,Not-in-family,White,Male,United-States,0
11899,2732,17,Private,132652,HS-grad,9,Married-civ-spouse,Tech-support,Husband,White,Male,United-States,1

In [10]:
df=df.drop(["index","fnlwgt"],axis=1)

In [11]:
df

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,native-country,Y
0,21,Private,Some-college,10,Divorced,Adm-clerical,Own-child,White,Female,United-States,0
1,29,Private,HS-grad,9,Divorced,Adm-clerical,Not-in-family,White,Female,United-States,0
2,19,Private,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,United-States,0
3,17,Private,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,United-States,0
4,47,Private,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,United-States,0
...,...,...,...,...,...,...,...,...,...,...,...
11895,23,Private,HS-grad,9,Married-civ-spouse,Sales,Wife,White,Female,United-States,0
11896,31,Private,HS-grad,9,Divorced,Other-service,Unmarried,Black,Female,United-States,0
11897,21,Private,HS-grad,9,Never-married,Other-service,Own-child,White,Male,United-States,0
11898,29,Private,Bachelors,13,Never-married,Machine-op-inspct,Not-in-family,White,Male,United-States,0
11899,17,Private,HS-grad,9,Married-civ-spouse,Tech-support,Husband,White,Male,United-States,1

In [12]:
model=GBR(n_estimators=10)

In [15]:
df=pd.get_dummies(df,columns=["workclass","education","marital-status","occupation","relationship","race","sex","native-country"])

In [16]:
df

,age,education-num,Y,workclass_?,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,...,relationship_Unmarried,relationship_Wife,race_Asian-Pac-Islander,race_Black,race_White,sex_Female,sex_Male,native-country_Mexico,native-country_Philippines,native-country_United-States
0,21,10,0,0,0,0,1,0,0,0,...,0,0,0,0,1,1,0,0,0,1
1,29,9,0,0,0,0,1,0,0,0,...,0,0,0,0,1,1,0,0,0,1
2,19,13,0,0,0,0,1,0,0,0,...,0,0,0,0,1,1,0,0,0,1
3,17,9,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,1,0,0,1
4,47,10,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11895,23,9,0,0,0,0,1,0,0,0,...,0,1,0,0,1,1,0,0,0,1
11896,31,9,0,0,0,0,1,0,0,0,...,1,0,0,1,0,1,0,0,0,1
11897,21,9,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,1,0,0,1
11898,29,13,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,1,0,0,1
11899,17,9,1,0,0,0,1,0,0,0,...,0,0,0,0,1,0,1,0,0,1

In [17]:
y_name="age"
y=df[y_name].values
x_table=df.drop(y_name,axis=1)
x_name=x_table.columns
x=x_table.values

In [18]:
x

array([[10,  0,  0, ...,  0,  0,  1],
       [ 9,  0,  0, ...,  0,  0,  1],
       [13,  0,  0, ...,  0,  0,  1],
       ...,
       [ 9,  0,  0, ...,  0,  0,  1],
       [13,  0,  0, ...,  0,  0,  1],
       [ 9,  1,  0, ...,  0,  0,  1]], dtype=int64)

In [19]:
df.to_csv("newdata.csv",index=False,encoding="shift-jis")

In [20]:
model=GBR(n_estimators=25)

In [21]:
model.fit(x,y)

GradientBoostingRegressor(n_estimators=25)

In [22]:
model.feature_importances_

array([1.70444121e-01, 3.44135337e-01, 6.60354170e-04, 9.92130289e-03,
       1.20566117e-02, 3.15635098e-02, 2.15281642e-02, 9.98759012e-04,
       0.00000000e+00, 0.00000000e+00, 1.27940776e-02, 4.35473444e-04,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       2.89765283e-04, 0.00000000e+00, 1.23368509e-03, 1.22622051e-02,
       3.94423714e-02, 0.00000000e+00, 1.51824155e-02, 6.34932752e-02,
       1.04324579e-03, 8.49636137e-02, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 2.68867880e-03, 3.33010570e-03, 2.54966483e-02,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 1.77830963e-03, 8.41496544e-03,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       1.19073729e-01, 3.67267755e-03, 4.15213651e-03, 2.54156050e-03,
       1.59547615e-03, 1.99354515e-03, 1.23401587e-03, 1.57986378e-03,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00])

In [23]:
import pickle
fname="mode.sav"
pickle.dump(model, open(fname, 'wb'))

In [24]:
model2=pickle.load(open(fname, 'rb'))

In [25]:
model2.feature_importances_

array([1.70444121e-01, 3.44135337e-01, 6.60354170e-04, 9.92130289e-03,
       1.20566117e-02, 3.15635098e-02, 2.15281642e-02, 9.98759012e-04,
       0.00000000e+00, 0.00000000e+00, 1.27940776e-02, 4.35473444e-04,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       2.89765283e-04, 0.00000000e+00, 1.23368509e-03, 1.22622051e-02,
       3.94423714e-02, 0.00000000e+00, 1.51824155e-02, 6.34932752e-02,
       1.04324579e-03, 8.49636137e-02, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 2.68867880e-03, 3.33010570e-03, 2.54966483e-02,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 1.77830963e-03, 8.41496544e-03,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       1.19073729e-01, 3.67267755e-03, 4.15213651e-03, 2.54156050e-03,
       1.59547615e-03, 1.99354515e-03, 1.23401587e-03, 1.57986378e-03,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00])

In [26]:
for i in range(len(x_name)):
    print(x_name[i])

education-num
Y
workclass_?
workclass_Federal-gov
workclass_Local-gov
workclass_Private
workclass_Self-emp-inc
workclass_Self-emp-not-inc
workclass_State-gov
education_10th
education_11th
education_12th
education_1st-4th
education_5th-6th
education_7th-8th
education_9th
education_Assoc-acdm
education_Assoc-voc
education_Bachelors
education_HS-grad
education_Masters
education_Prof-school
education_Some-college
marital-status_Divorced
marital-status_Married-civ-spouse
marital-status_Never-married
marital-status_Separated
marital-status_Widowed
occupation_?
occupation_Adm-clerical
occupation_Craft-repair
occupation_Exec-managerial
occupation_Farming-fishing
occupation_Handlers-cleaners
occupation_Machine-op-inspct
occupation_Other-service
occupation_Prof-specialty
occupation_Protective-serv
occupation_Sales
occupation_Tech-support
occupation_Transport-moving
relationship_Husband
relationship_Not-in-family
relationship_Other-relative
relationship_Own-child
relationship_Unmarried
relationship_Wife
race_Asian-Pac-Islander
race_Black
race_White
sex_Female
sex_Male
native-country_Mexico
native-country_Philippines
native-country_United-States

In [32]:
dfo=pd.DataFrame(x)
dfo.columns=x_name
dfo.to_csv("tohtml.csv",index=False,encoding="shift-jis")

In [1]:
import pandas as pd
df=pd.read_csv("newdata.csv")

In [2]:
df

,age,education-num,Y,workclass_?,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,...,relationship_Unmarried,relationship_Wife,race_Asian-Pac-Islander,race_Black,race_White,sex_Female,sex_Male,native-country_Mexico,native-country_Philippines,native-country_United-States
0,21,10,0,0,0,0,1,0,0,0,...,0,0,0,0,1,1,0,0,0,1
1,29,9,0,0,0,0,1,0,0,0,...,0,0,0,0,1,1,0,0,0,1
2,19,13,0,0,0,0,1,0,0,0,...,0,0,0,0,1,1,0,0,0,1
3,17,9,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,1,0,0,1
4,47,10,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11895,23,9,0,0,0,0,1,0,0,0,...,0,1,0,0,1,1,0,0,0,1
11896,31,9,0,0,0,0,1,0,0,0,...,1,0,0,1,0,1,0,0,0,1
11897,21,9,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,1,0,0,1
11898,29,13,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,1,0,0,1
11899,17,9,1,0,0,0,1,0,0,0,...,0,0,0,0,1,0,1,0,0,1

In [3]:
y_name="age"
y=df[y_name].values
x_table=df.drop(y_name,axis=1)
x_name=x_table.columns
x=x_table.values

In [5]:
from sklearn.ensemble import GradientBoostingRegressor as GBR
model=GBR(n_estimators=25)
model.fit(x,y)
imp=model.feature_importances_

In [8]:
dfi=pd.DataFrame(imp)
dfi

           0
0   0.171678
1   0.344135
2   0.000660
3   0.009921
4   0.012057
5   0.031564
6   0.021528
7   0.000999
8   0.000000
9   0.000000
10  0.012794
11  0.000435
12  0.000000
13  0.000000
14  0.000000
15  0.000000
16  0.000290
17  0.000000
18  0.000000
19  0.012262
20  0.039442
21  0.000000
22  0.015182
23  0.063493
24  0.001043
25  0.084964
26  0.000000
27  0.000000
28  0.000000
29  0.002689
30  0.003330
31  0.025497
32  0.000000
33  0.000000
34  0.000000
35  0.000000
36  0.000000
37  0.000000
38  0.001778
39  0.008415
40  0.000000
41  0.000000
42  0.000000
43  0.000000
44  0.119074
45  0.003673
46  0.004152
47  0.002542
48  0.001595
49  0.001994
50  0.002814
51  0.000000
52  0.000000
53  0.000000
54  0.000000

In [12]:
dfi.index=x_name

In [16]:
dfi.sort_values(0, ascending=False)

                                          0
Y                                  0.344135
education-num                      0.171678
relationship_Own-child             0.119074
marital-status_Never-married       0.084964
marital-status_Divorced            0.063493
education_Masters                  0.039442
workclass_Private                  0.031564
occupation_Exec-managerial         0.025497
workclass_Self-emp-inc             0.021528
education_Some-college             0.015182
education_11th                     0.012794
education_HS-grad                  0.012262
workclass_Local-gov                0.012057
workclass_Federal-gov              0.009921
occupation_Tech-support            0.008415
relationship_Wife                  0.004152
relationship_Unmarried             0.003673
occupation_Craft-repair            0.003330
sex_Female                         0.002814
occupation_Adm-clerical            0.002689
race_Asian-Pac-Islander            0.002542
race_White                         0.001994
occupation_Sales                   0.001778
race_Black                         0.001595
marital-status_Married-civ-spouse  0.001043
workclass_Self-emp-not-inc         0.000999
workclass_?                        0.000660
education_12th                     0.000435
education_Assoc-acdm               0.000290
relationship_Other-relative        0.000000
native-country_Philippines         0.000000
sex_Male                           0.000000
relationship_Not-in-family         0.000000
relationship_Husband               0.000000
occupation_Transport-moving        0.000000
occupation_Protective-serv         0.000000
native-country_Mexico              0.000000
marital-status_Widowed             0.000000
occupation_Prof-specialty          0.000000
education_Assoc-voc                0.000000
workclass_State-gov                0.000000
education_10th                     0.000000
education_1st-4th                  0.000000
education_5th-6th                  0.000000
education_7th-8th                  0.000000
education_9th                      0.000000
education_Bachelors                0.000000
occupation_Other-service           0.000000
education_Prof-school              0.000000
marital-status_Separated           0.000000
occupation_?                       0.000000
occupation_Farming-fishing         0.000000
occupation_Handlers-cleaners       0.000000
occupation_Machine-op-inspct       0.000000
native-country_United-States       0.000000